 
      <ion-content class="padding" ng-controller="MapCtrl">
      
    
              <div class="item item-input ">
                <i class="icon ion-ios-search placeholder-icon"></i>                
                  <input id="searchmarket" type="text" data-tap-disabled="true" ng-model="search" onchange="call()" value="Ghaziabad"> 
                  <button class="button  button-assertive" >Search </button>
              </div>

      
             <div id="map" data-tap-disabled="true">
        
             </div>
      
      </ion-content>
